html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

.page__body {
  background-color: #caccd0;
}

.page__body-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
  padding-top: 80px;
}

.header__title {
  color: #535557;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title-name {
  font-size: 75px;
}

.header__title-text {
  font-size: 35px;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 35% 65%;
}

.left-block {
  background: rgba(84, 84, 84, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  bottom: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: #c8c8c8;
  gap: 25px;
  padding-bottom: 25px;
}

.left-block__aboutme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-block__avatar {
  max-width: auto;
  max-height: 250px;
}

.left-block__aboutme {
  align-self: flex-start;
  padding-left: 90px;
  padding-right: 60px;
  line-height: 22px;
}

.left-block__aboutme-text {
  font-size: 16px;
}

.left-block__education {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 90px;
  padding-right: 60px;
  line-height: 22px;
  gap: 10px;
}

.left-block__contacts-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.left-block__contacts-item:hover {
  color: white;
}

.left-block__education-text {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
}

.left-block__education-text-specialization-desc {
  font-size: 18px;
  font-style: italic;
}

.left-block__contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 90px;
  padding-right: 60px;
  line-height: 22px;
  gap: 10px;
}

.left-block__contacts-list {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 3px 0 0 0;
}

.left-block__contacts-img {
  width: 20px;
  height: 20px;
}

.right-block {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skills__title {
  font-size: 35px;
  background-color: #e8ecef;
  padding: 5px 0 5px 50px;
  border-radius: 0px 50px 50px 0px / 0px 25px 25px 0px;
  margin-bottom: 0px;
  color: #2c1a1b;
}

.skill__name {
  width: 150px;
  color: #2c1a1b;
}

.skills__container {
  padding-left: 60px;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.skill__bar {
  height: 10px;
  width: 300px;
  background-color: #fffffc;
}

.skill__bar-progress {
  width: var(--progress-width);
  background-color: #545254;
  height: 10px;
  transition: width 1s ease;
}

.example-code {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.example-code__text {
  background-color: #535557;
  color: #fffffc;
  font-size: 15px;
  border-radius: 30px;
  padding: 0px;
  padding-top: 15px;
  margin: 0;
  line-height: 18px;
}

.code-color__violet {
  color: violet;
}

.code-color__blue {
  color: #2e9df4;
}

.code-color__yellow {
  color: yellow;
}

.code-color__ligth-blue {
  color: #83c6fa;
}

.code-color__green {
  color: rgb(7, 212, 7);
}

.projects {
  margin-top: 15px;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.project__item {
  border: 1px solid #545454;
  width: 275px;
  height: 310px;
  padding: 5px;
  border-radius: 15px;
}

.project__item-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.project__item-img {
  align-self: center;
  align-self: center;
  max-width: 100%;
  max-height: auto;
  border: 1px solid #545454;
  border-radius: 10px;
}

.project__item-title {
  align-self: center;
  font-size: 25px;
  color: #2c1a1b;
  padding: 0;
}

.footer {
  background-color: #535557;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 20px;
  padding: 20px 20px 5px 20px;
  font-size: 20px;
  color: #c8c8c8;
}

.footer__social-img {
  width: 50px;
  height: auto;
}

.footer__copyright {
  align-self: self-end;
  font-size: 25px;
}

.footer__nav-list {
  display: flex;
  gap: 15px;
  align-self: flex-end;
  margin: 0;
}

.footer__social-list {
  display: flex;
  gap: 35px;
  margin: 0;
  align-self: flex-end;
  padding-right: 70px;
}

.footer__nav-item {
  cursor: pointer;
}

.footer__nav-item:hover {
  color: white;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
